*.cache
*.suo
BudgetPlanner/.vs/BudgetPlanner/v16/.suo
BudgetPlanner/.vs/BudgetPlanner/v16/.suo
*.dll
*.pdb
*.cache
*.cache
*.exe
*.exe
*.resources
*.baml
BudgetPlanner/BudgetPlanner_UI/obj/Debug/Views/DebtView.g.cs
BudgetPlanner/BudgetPlanner_UI/obj/Debug/Views/DebtView.g.i.cs
BudgetPlanner/BudgetPlanner_UI/obj/Debug/Views/ShellView.g.cs
BudgetPlanner/BudgetPlanner_UI/obj/Debug/Views/ShellView.g.i.cs
